.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

main > .container {
  padding: 60px 15px 0;
}

/* === begin notie background colours === */

.notie-background-success {
  background-color: #198754; /* #57bf57 */
}

.notie-background-warning {
  background-color: #ffc107; /* #d6a14d */
}

.notie-background-error {
  background-color: #dc3545; /* #e1715b */
}

.notie-background-info {
  background-color: #0dcaf0; /* #4d82d6 */
}

.notie-background-neutral {
  background-color: #a0a0a0; /* #a0a0a0 */
}

/* ==== end notie background colours ==== */

.room-image {
  max-width: 50%;
}

.datepicker {
  z-index: 10000;
}

.carousel-caption-background {
  background: rgba(0, 0, 24, 0.4);
  border-radius: 0.75rem;
}
