{{template "admin" .}}

{{define "page-title"}}
    Reservations Dashboard
{{end}}

{{define "content"}}
    <div class="col-md-12">
        <img src="/static/images/office-diary.jpg" class="img-fluid img-thumbnail mx-auto d-block mb-5" style="max-width:50%;" alt="office diary">
        <p>Veritatis praesentium repudiandae omnis est ullam nisi ab quidem. Veniam dolorum assumenda veritatis adipisci iusto. Ea consequatur accusantium doloremque nihil a cum. Iusto distinctio sed.</p>
        <p>Modi earum libero quo autem eum in. Adipisci occaecati veritatis est aliquid. Dolor rem tempore dolorum voluptatibus error aut numquam. Omnis et distinctio quaerat facilis ut aliquam voluptas repellat nulla. Quos corporis est quibusdam non aut. Natus et ut.</p>
        <p>Voluptatibus reiciendis et. Totam eligendi perspiciatis excepturi est ut. Maxime voluptatem commodi qui nemo et consectetur consequatur.</p>
        <p>Voluptatem id autem aut velit soluta eaque dolor. Omnis voluptatem ea odio veniam dignissimos qui. Qui ea sint dignissimos illum cum excepturi aperiam. Quia dignissimos est pariatur aut. Repudiandae perferendis aut quis nihil omnis minima accusamus veniam. Aperiam nemo aut corporis saepe et possimus.</p>
    </div>
{{end}}