{{template "admin" .}}

{{define "page-title"}}
  Reservations Calendar
{{end}}

{{define "content"}}

  <div class="clearfix">
    <a class="btn btn-outline-secondary float-start" 
    href="/admin/reservations-cal?y={{index .StringMap "prev_month_year"}}&m={{index .StringMap "prev_month"}}">
    <i class="fas fa-backward"></i></a>
    <a class="btn btn-outline-secondary float-end" 
    href="/admin/reservations-cal?y={{index .StringMap "next_month_year"}}&m={{index .StringMap "next_month"}}">
    <i class="fas fa-forward"></i></a>
    <div class="text-center h3">
      {{index .StringMap "show_month"}} {{index .StringMap "this_month_year"}}
    </div>
  </div>

  {{$rooms := index .Data "rooms"}}
  {{$dim := index .IntMap "days_in_month"}}
  {{$currentMonth := index .StringMap "this_month"}}
  {{$currentYear := index .StringMap "this_month_year"}}

  <form id="calendarForm" name="calendarForm" method="post" action="/admin/reservations-cal" novalidate>
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    <input type="hidden" name="month" value="{{$currentMonth}}">
    <input type="hidden" name="year" value="{{$currentYear}}">

    <div class="mt-5">
      {{range $rooms}}

        {{$roomID := .ID}}
        {{$blocked := index $.Data (printf "blocked_map_%d" .ID)}}
        {{$reservations := index $.Data (printf "reservations_map_%d" .ID)}}

        <div class="h5 mb-2">
          {{.RoomName}}
        </div>

        <div class="table-responsive">
          <table class="table table-bordered table-sm mb-5">
            <tr class="table-success">
              {{range $day := iterateDays $dim}}
                <td class="text-center">
                  {{$day}}
                </td>
              {{end}}
            </tr>
            <tr>
              {{range $day := iterateDays $dim}}
              <td class="text-center">
                {{if gt (index $reservations (printf "%d-%s-%s" $day $currentMonth $currentYear)) 0}}
                  <a href="/admin/reservations/cal/{{index $reservations (printf "%d-%s-%s" $day $currentMonth $currentYear)}}/page?y={{$currentYear}}&m={{$currentMonth}}">
                    <span class="fw-bold text-danger">R</span>
                  </a>
                {{else}}
                  <input onclick="blockDayRange('{{$roomID}}', '{{$day}}', '{{$currentMonth}}', '{{$currentYear}}')" 
                    {{if gt (index $blocked (printf "%d-%s-%s" $day $currentMonth $currentYear)) 0}}
                      name="remove_blocked_{{$roomID}}_{{printf "%d-%s-%s" $day $currentMonth $currentYear}}"
                      value="{{index $blocked (printf "%d-%s-%s" $day $currentMonth $currentYear)}}"
                      checked
                    {{else}}
                      id="add_blocked_{{$roomID}}_{{printf "%d-%s-%s" $day $currentMonth $currentYear}}"
                      name="add_blocked_{{$roomID}}_{{printf "%d-%s-%s" $day $currentMonth $currentYear}}"
                      value="1"
                    {{end}}
                      type="checkbox">
                {{end}}
              </td>
              {{end}}
            </tr>
          </table>
        </div>
      {{end}}
    </div>

    <hr>

    <input id="btnSave" name="btnSave" type="submit" class="btn btn-primary" value="Save Changes" disabled>

  </form>

{{end}}

{{define "js"}}
  {{$dim := index .IntMap "days_in_month"}}
  <script>
    function blockDayRange(roomID, day, currentMonth, currentYear) {
      let startBlockCheckbox = document.getElementById("add_blocked_" + roomID + "_" + day + "-" + currentMonth + "-" + currentYear);
      if (startBlockCheckbox != null) {
        if (startBlockCheckbox.checked) {
          attention.customModal({
            title: '<div style="color:#dc143c;">How many days to block ?</div>',
            icon: 'question',
            msg: `<div style="font-size:small;text-align:left;"><strong>PLEASE NOTE...</strong><br>1. Owner room blocks do NOT override existing reservations. Reservations<br>have priority and should be managed accordingly BEFORE owner blocking.<br>2. Owner blocks are stored as ranges of days NOT individual days.<br>To edit a range, delete that range first, then add new ranges as required.</div>`,
            input: 'range',
            inputLabel: '(drag slider to select)',
            inputAttributes: {
              min: 1,
              max: '{{$dim}}' - (Number(day) - 1),
              step: 1
            },
            inputValue: 1,
            customClass: {
              sender: "blockDayRange()",
              content: startBlockCheckbox
            },
            confirmButtonText: "Continue ?",
            confirmButtonColor: "#0d6efd",
            callback: function (result) {
              if (result !== false) {
                let input = document.createElement("input");
                input.type = 'hidden';
                input.name = 'blocks';
                input.value = result;
                document.getElementById("calendarForm").appendChild(input);
                document.getElementById("btnSave").removeAttribute("disabled");
              }
            }
          });
        }
      } else if (startBlockCheckbox == null) {
        document.getElementById("btnSave").removeAttribute("disabled");
      }
    }
  </script>
{{end}}