{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="my-5">Contact</h1>
      <p>
        <a class="logo-font text-dark me-2" href="https://stratosoft.com" target="stratosoft"
          title="StratoSOFT (opens in a new browser tab)">StratoSOFT</a>
        <span class="text-success">Web Development</span>
        <img src="/static/images/outside.png" class="img-fluid float-end d-block m-5" style="max-width:50%;"
          alt="Eden House outside">
      </p>
      <p>Veritatis praesentium repudiandae omnis est ullam nisi ab quidem. Veniam dolorum assumenda veritatis adipisci iusto.
        Ea consequatur accusantium doloremque nihil a cum. Iusto distinctio sed.</p>
      <p>Modi earum libero quo autem eum in. Adipisci occaecati veritatis est aliquid. Dolor rem tempore dolorum voluptatibus
        error aut numquam. Omnis et distinctio quaerat facilis ut aliquam voluptas repellat nulla. Quos corporis est quibusdam
        non aut. Natus et ut.</p>
      <p>Voluptatibus reiciendis et. Totam eligendi perspiciatis excepturi est ut. Maxime voluptatem commodi qui nemo et
        consectetur consequatur.</p>
      <p>Voluptatem id autem aut velit soluta eaque dolor. Omnis voluptatem ea odio veniam dignissimos qui. Qui ea sint
        dignissimos illum cum excepturi aperiam. Quia dignissimos est pariatur aut. Repudiandae perferendis aut quis nihil
        omnis minima accusamus veniam. Aperiam nemo aut corporis saepe et possimus.</p>
      <p>Modi earum libero quo autem eum in. Adipisci occaecati veritatis est aliquid. Dolor rem tempore dolorum voluptatibus
        error aut numquam. Omnis et distinctio quaerat facilis ut aliquam voluptas repellat nulla. Quos corporis est quibusdam
        non aut. Natus et ut.</p>
      <p>Voluptatibus reiciendis et. Totam eligendi perspiciatis excepturi est ut. Maxime voluptatem commodi qui nemo et
        consectetur consequatur.</p>
      <p>Voluptatem id autem aut velit soluta eaque dolor. Omnis voluptatem ea odio veniam dignissimos qui. Qui ea sint
        dignissimos illum cum excepturi aperiam. Quia dignissimos est pariatur aut. Repudiandae perferendis aut quis nihil
        omnis minima accusamus veniam. Aperiam nemo aut corporis saepe et possimus.</p>
    </div>
  </div>
</div>
{{end}}
