{{template "base" .}}

{{define "content"}}
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="indexPageCarousel" class="carousel slide carousel-fade mt-4" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#indexPageCarousel" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#indexPageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#indexPageCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/static/images/outside.png" class="d-block w-100" alt="Eden House outside">
              <div class="carousel-caption d-none d-md-block carousel-caption-background">
                <h5>Eden House</h5>
                <p>... viewed from Lake Costa</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/static/images/woman-laptop.png" class="d-block w-100" alt="Woman with laptop">
              <div class="carousel-caption d-none d-md-block carousel-caption-background">
                <h5>Home from home</h5>
                <p>... relax and catch up in comfort</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/static/images/tray.png" class="d-block w-100" alt="Coffee tray">
              <div class="carousel-caption d-none d-md-block carousel-caption-background">
                <h5>Room service</h5>
                <p>... treat yourself !</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#indexPageCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#indexPageCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h1 class="text-center my-5">Welcome to Eden House Bed &amp; Breakfast</h1>
        <p>Your home away from home, set on the majestic waters of Lake Costa, this will be a vacation to remember.</p>
        <p>Veritatis praesentium repudiandae omnis est ullam nisi ab quidem. Veniam dolorum assumenda veritatis adipisci iusto.
          Ea consequatur accusantium doloremque nihil a cum. Iusto distinctio sed.</p>
        <p>Modi earum libero quo autem eum in. Adipisci occaecati veritatis est aliquid. Dolor rem tempore dolorum voluptatibus
          error aut numquam. Omnis et distinctio quaerat facilis ut aliquam voluptas repellat nulla. Quos corporis est quibusdam
          non aut. Natus et ut.</p>
        <p>Voluptatem id autem aut velit soluta eaque dolor. Omnis voluptatem ea odio veniam dignissimos qui. Qui ea sint
          dignissimos illum cum excepturi aperiam. Quia dignissimos est pariatur aut. Repudiandae perferendis aut quis nihil
          omnis minima accusamus veniam. Aperiam nemo aut corporis saepe et possimus.</p>
      </div>
    </div>


    <div class="row">
      <div class="col text-center">
        <a href="/search-availability" class="btn btn-success mt-4">Make Reservation Now</a>
      </div>
    </div>

  </div>
{{end}}